min: 20
max: 30

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    instance:
      preferIpAddress: true 
    health-check:
      enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
